@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html{
      scroll-behavior: smooth;
      min-height: 100%;
}
body {
  overscroll-behavior: none;
  overflow-x: hidden;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://bajus-live.github.io/storage/photos/bg.jpg');
  background-size: 100px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin-top: 0px;
  font-family: hind siliguri;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-logo{
      width: 100%;
      background: rgba(0, 0, 0, .1);
      backdrop-filter: blur(30px);
      align-items: center;
      height: 52px;
      align-items: center;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      z-index: 999;
}
.top-logo-test{
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  z-index: 99;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 0;
}
#top-logo-test{
  height: 95px;
  width: auto;
  border-radius: 10px;
  animation: logo 1.2s ease-out;
}
@keyframes logo{
  0%{
    transform: translateY(-70px);
  }
  50%{
    transform: translateY(30px);
    opacity: 0;
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0);
  }
}
.top-logo-area{
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  margin: 15px 0;
  margin-top: -35px;
  animation: sub_logo 1s ease-in;
}
@keyframes sub_logo{
  0%{
    transform: translateX(-300px);
    opacity: 0;
  }
  
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.top-logo-text{
  font-size: 20px;
  font-family: hind siliguri;
  font-weight: 800;
  color: #B28A00;
}
/* Main logo */
#top-logo{
      height: 50px;
      width: auto;
      margin-left: 8px;
      border-radius: 5px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 5);
}


/* Navbar */
    .navbar{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 11.5px 0;
      background-color: rgba(0, 0, 0, 1);
      border: 0.1px solid #F1E5E9;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
      box-shadow: 1px 2px 5px 5px rgba(255, 255, 255, .4);
      z-index: 1000;
    }
    .nav-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #757575;
      font-size: 14px;
      cursor: pointer;
      background: rgba(255, 255, 255, .01);
    }
    .nav-item:hover{
      
    }
    .nav-item.active {
      color: #00FFF0;
    }
    .nav-item a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease-in-out;
      background: rgba(255, 255, 255, .01);
      color: #FFFFFF;
      box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      border-radius: 10px;
      border: .1px solid white;
      transition: all 0.3s ease-in-out;
      }
      .nav-item a:hover{
        transition: 0.3s all ease-in;
        transform: scale(1.04);
        border: .1px solid black;
        box-shadow: 0 0 15px #20BBFF, 0 0 5px rgba(0, 255, 255, .7);
      }
      .nav-item.active a{
        transition: 0.3s all ease-in;
        border: 1px solid black;
        box-shadow: 0 0 15px rgba(0, 255, 255, 1), 0 0 4px rgba(0, 255, 255, 1);
      }
      .nav1{
        padding: 10px 21px;
      }
      .nav2{
        padding: 10px 13.5px;
      }
      .nav3{
        padding: 10px 11px;
      }
      .nav4{
        padding: 10px 0px;
      }
     .nav5{
        padding: 10px 6.5px;
      }
    .nav-item i{
      font-size: 18px;
      margin-bottom: 0px;
      display: inline-block;
      padding: 0px 0px;
      color: #FFFFFF;
      transition: background-color 0.3s ease, color 0.3s ease;
      background: black;
      backdrop-filter: blur(50px);
    }
    .nav-item.active a i {
      background-color: black;
      color: #00FFF0;
      font-weight: bolder;
    }
    .nav-item.active span {
      color: #00FFF0;
      font-weight: bold;
    }
/* End */

.webpage {
  margin-top: -12px;
  height: 260px;
  width: 100%;
  overflow: hidden;
}
