@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');



:root {
    --gold: #caa43a;
    --silver: #D3D3D3;
    --deep: #0e2830;
    --cream: #f8f2ea;
    --table-head: #0d2930;
    --accent: #b78829;
    --silver: #bfbfbf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hind Siliguri;
}

html {
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    background-image: url('https://rka-999.github.io/storage/photos/bg.jpg');
    background-attachment: fixed;
    background-size: 300px;
    background-repeat: repeat;
    background-blend-mode: soft-light;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 140px; /*999*/
    padding: 1.3rem 10%;
   /* background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    background-color: #0b1b22;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
   /* Remove symbol to see magic left: 0; */
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}
#homelogo{
    display: inline-block;
}
#name{
    margin-top: 25px;
    color: white;
    font-size: 25px;
    font-family: Hind Siliguri;
    font-weight: 700;
}
/* uodate */
#menu{
    color: white;
    margin-right: 2.9%;
    margin-top: -2%;
    font-family: Hind Siliguri;
    font-size: 25px;
    font-weight: 900;
}

.logo{
     margin-left: 25px;
     font-size: 2rem;
     color: white;
     text-decoration: none;
     font-weight: 800;
}
.navbar a{
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check{
    display: none;
}
.icons{
    top: 60%; /* update */
    position: absolute;
    right: 4.5%;
    font-size: 30px;
    cursor: pointer;
    display: none;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 7px; /* update */
    border-radius: 10px;
    color: white;
    transition: 1.2s all ease;
}
.icons:hover {
    color: red;
    border: 2px solid #0e2830;
    box-shadow: .5px .5px var(--cream);
    border-radius: 10px;
    font-size: 30px;
    transform: rotate(90deg); /* update */
}
/*U-turn*/
@media (max-width: 980px) {
    .header{
        padding: 1.3rem 3%;
    }
    .icons #close-icon{
        display: none;
    }
}
@media (max-width: 792px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
    display: none;
    }
    #check:checked~.icons #close-icon{
    display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .8s ease;
    }
    #check:checked~.navbar {
    height: 37.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.2rem;
        margin: 2.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.8s ease;
 }
 
 .navbar a:hover {
    background: white;
    border: .1px dashed white#42445A;
    border-radius: 20px;
    color: var(--gold);
}
 
    #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0s * var(--i));
    }
}
#menu-icon{
    font-size: 30px;
}
#menu-icon:hover{
    border: 0px solid #0e2830;
    border-radius: 10px;
}
#close-icon{
    font-size: 30px;
}
#close-icon:hover {
    border: 0px solid #0e2830;
    border-radius: 10px;
}
#logo1{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes logo{
  form{border: 0px solid white;
  }
  to{
      border: 1.5px dotted #b78829;
}
}




    /* Header */
    #header{
      margin-top: 110px;
      width: 100%;
      background: linear-gradient(90deg, #0b1b22);
      color: var(--cream);
      padding: 16px;
      display: flex;
      justify-content: end;
      border-bottom: 2px solid var(--accent);
    }
   .logo{
      height: auto;
      width: 100%;
      border-radius: 4px
    }
#hotline{
        width: auto;
        height: 20px;
        display: flex;
        justify-content: right;
        margin-right: -45px;
        margin-bottom: 0px;
}
    #number{
    font-family: Hind Siliguri;
    margin-top: 25px;
    text-align: right;
    display: flex;
    margin-left: auto;
    font-size: 15px;  /* update */
    font-weight: 700; /* update */
    text-decoration: none;
    color: white;
    text-align: right;
    transition: .5s .5s all ease-in;
    }
    #number:hover{
      font-size: 14.8px;
      transition: 2s all ease-in;
      color: var(--gold);
    }
    




#scrollUpButton{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 99;
    outline: none;
    background: blue;
    cursor: pointer;
    padding: 1px;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}
#scrollUpButton:hover{
    background-color: black;
}
#arrowimg{
    width: 40px;
    padding: 10px;
    height: auto;
}







  /* Last Update */
    #notecard{
        background-color: #F9F4F4;
        border: 1px solid #F1E5E5;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #notebanner{
       color: #FFFFFF;
       text-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
        
        
    }
    .note{
      margin-top: -5px;
      text-align: center;
      font-size: 15px; 
      font-weight: 1000;
      color: var(--cream);
      font-weight: 700;
      animation: onoff 1.5s normal infinite;
    }
    @keyframes onoff{
      from{
        color: '';
      }
      to{
        color: red;
      }
    }
    
    
    
    #alert {
    margin-top: 25px;
    margin-bottom: -25px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    background-color: white;
    opacity: 1; 
    border: 1px solid #DEDEE9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 1s all ease ;
    border-radius: 20px;
    animation: flash 1.5s ease-in-out infinite;
}

#alert:hover{
    transform: translateY(10px);
}

#redalert{
    color: red;
}

@keyframes flash {
    0% {
        opacity: 0; 
    }
    
    100% {
        opacity: 1;
    }
}
    
    
    
    
    
    
  /*  
    #vdoarea{
        padding: 10px;
        margin-top: 50px;
        margin-left: 10px;
        width: 95%;
        height: auto;
        background-color: whitesmoke;
        border-radius: 15px;
        border: 1px solid #DEDEE9;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: .5s all ease;
    }
    #vdoarea:hover{
        transform: translateY(10px);
    }
    
    #vdo{
        width: 100%;
        height: auto;
        border-radius: 20px;
        aspect-ratio: 16/9;
    }
    
    */
    .banner_area{
    width: 100%;
    height: 100px;
    margin-bottom: 300px;
    margin-top: 40px;
    }
    .banner{
    width: 100%;
    height: auto;
    }
    /* body 1st content */

.page{
    height: 80px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    
}

.pdf-btn-position {
    margin-top: 13.3px;
    transition: 0.5s all ease;
}
.pdf-btn-position:hover {
    transform: translateY(7px);
}
 
    
.pdf-btn {
    white-space: nowrap;
    font-size: 15.5px;
    font-family: Hind Siliguri;
    background-color: white;
    color: #0B1B22; 
    padding: 13px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 0.3s all ease; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.pdf-btn:hover {
    white-space: nowrap;
    color: orange;
    border: 0.1px dotted navy; 
    box-shadow: 0 10px 20px rgba(255, 140, 0, 0.5);
    
}
#pdf-btn-view-logo {
    width: 22px;
    height: auto;
    margin-right: 5px;
    transform: translateY(0.1px);
}

.download-btn-position {
    margin-top: 12.3px;
    transition: 0.5s all ease;
}
.download-btn-position:hover {
    transform: translateY(7px); 
    
}

.download-btn {
    white-space: nowrap;
    font-size: 15.5px;
    font-family: Hind Siliguri;
    background: white;
    color: #0B1B22; 
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    display: flex; 
    align-items: center;
    transition: 0.3s all ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.download-btn:hover {
    white-space: nowrap;
    color: orange;
    border: .1px dashed #0B1B22;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 20px rgba(255, 140, 0, 0.5);
}

.download-img {
    height: auto;
    width: 30px;
    margin-right: 5px;
    transform: translateY(1px);
}

:root{
      --gold: #caa43a;
    --silver: #D3D3D3;
}
body{
      font-family: Hind Siliguri;
}

/* Gold Rate Banner */
.goldtable{
      margin-top: -7.5px; /* update */
      width: 100%;
      margin-top: 0px auto;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}

#golddown{
    transition: .2s all ease;
}
#golddown:hover{
    transform: scale(0.99);
}

.product1{
      width: 28%;
      font-weight: 700;
      font-family: Hind Siliguri;
      color:#21303a;
      text-align: center;
}
.desc1{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price1{
      width: 28%;
      text-align: center;
      font-weight: 900;
      color:#16303a;
      text-align: center;
}
.goldtable th {
      background: #0d2930;
      color: var(--gold);
      padding: 20px; /* update */
      font-size: 16px;
      text-align: center;
}
.goldtable td{
      padding: 25px 25px; /* update */
      background: #fdf1af;
      border-bottom: solid rgba(0, 0, 0, 0.7);
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
}

        
    #goldbanner {
        margin-top: 15px;
        justify-content: center;
        height: auto;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    }
    #gb_img_position{
        padding: 0px;
        background: #0d2930;
    }
    #goldbanner1{
        width: 100%;
        height: auto;
    }



/* silver banner */

#sb_img_position{
        padding: 0px;
        background: #0d2930;
}
    
#silverbanner1{
        width: 100%;
        height: auto;
}

#silverbanner {
    margin-top: 50px;
    margin-bottom: 5px;
    height: auto;
    width: 100%;
    display: flex;
    
    border: 1px solid silver;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.silvertable{
      margin-top: -4.5px; /* update */
      width: 100%;
      margin-top: 0px auto#42445A;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
}

#silverdown{
    margin-top: 80px;
    transition: .2s all ease;
}
#silverdown:hover{
    transform: scale(0.99);
}

.product2{
      width: 28%;
      font-weight: 700; 
      color:#21303a;
      text-align: center;
}
.desc2{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price2{
      width: 28%;
      text-align: center;
      font-weight: 900;
      color:#16303a;
      text-align: center;
}
.silvertable th {
      background: #0d2930;
      color: var(--gold);
      padding: 17px;
      font-size: 15px;
      text-align: center;
}
.silvertable td{
      padding: 25px 25px;
      background: var(--silver);
      border-bottom: solid rgba(0, 0, 0, 0.7);
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
    

    #brand{
      height: 45px; 
      width: 45px;
      border-radius: 50px;
      display: none;
    }
    #live{
      margin-top: 15px; 
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px; 
      font-weight: 500;
      color: var(--cream);
      font-weight: 700;
      animation: live 1s steps(4) infinite;
      animation-duration: 1.5s;
    }
    @keyframes live{
      from{
        color: var(--cream);
      }
      to{
        color: red;
      }
    }
    
    .timebox{
      padding: 5px 5px;
      margin: 5px auto;
      margin-bottom: 50px;
      background-color: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      border-radius: 20px;
      width: 320px;
      border: 1px solid #DEDEE9; /* update */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      transition: 1s all ease;
    }
    .timebox:hover{
        transform: translateY(10px);
    }
    #timebanner {
      font-family: Hind Siliguri;
      color: black;
      font-size: 17px;
      padding: 10px;
      margin-top: 0px auto;
      font-weight: bold;
}
    #time{
      color: red;
      font-size: 15px;
      font-family: Hind Siliguri;
      margin-top: 20px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    
    
    .ticker-wrap{
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background:#000;
      color:var(--gold);
      padding: 10px 10px;
      font-weight: 700;
      z-index: 999;
      box-shadow: 0 -6px 20px rgba(0,0,0,0.5);
    }
    .ticker{
      overflow: hidden;
      white-space: nowrap;
    }
    .ticker .text{
      display: inline-block;
      padding-left: 100%;
      height: 28px;
      animation: scroll 60s linear infinite;
    }
    @keyframes scroll{
      0%{transform: translateX(0)}
      100%{transform: translateX(-100%)}
    }
b{
    color: red;
}











:root{
     --cream: #f8f2ea;
}
.chart-container {
    width: 95%; 
    height: 400px; /* এই মানটি এখন পরিবর্তন করতে হবে */
    margin: 0 auto;
}
.chart-container {
    /* ছোট স্ক্রিনের জন্য ডিফল্ট উচ্চতা */
    width: 95%;
    height: 450px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .chart-container {
        height: 600px;
    }
    #menu {
    display: none;
    }
    
    #vdoarea{
        width: 50%;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 50px auto;
    }
    #vdo{
        width: 100%;
        height: auto;
        border-radius: 20px;
        }
    
    nav{
    background: var(--table-head);
    height: 100px;
    position: relative;
    display: flex;
    border-radius: 5px;
    }
    
    .desktop_bg{
    background: var(--deep);
    border: 0.1px solid #DDDDDD;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    }
    
    #desktop_bg_selected{
    background: rgba(79, 93, 244, 4);
    ;
    border: 0.1px solid black;
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    }
    
    #desktop_bg_selected:active{
    background: blue;
    border: 0.1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    }
    
    .desktop_bg:active{
        background: blue;
        border: 0.1px solid black;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .banner_area{
        margin: auto;
        height: 400px;
        width: 77%;
        margin-top: 50px;
        margin-bottom: 300px;
    }
    
    .download-btn{
        font-size: 25px;
    }
    
    .download-img{
        height: auto;
        width: 40px;
    }
    
    .pdf-btn{
        font-size: 25px;
    }
    
    #pdf-btn-view-logo{
        height: auto;
        width: 30px;
    }
    #goldbanner1{
        width: 100%;
        height: 75px;
    }
    #silverbanner1{
        width: 100%;
        height: 75px;
    }
    .footer-header{
        width: 40%;
        height: 20px;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}
#goldgraph{
    width: 100%;
    margin-top: 50px;
    background-color: rgba(248, 246, 246, 1);
    border-radius: 20px;
    box-shadow: #666363;
    border: 1px solid #DEDEE9; /* update */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 1s all ease;
}

#goldgraph:hover{
    transform: translateY(10px);
}

#silvergraph{
    width: 100%;
    margin-top: 100px;
    background-color: rgba(248, 246, 246, 1);
    border-radius: 20px;
    box-shadow: #666363;
    border: 1px solid #DEDEE9; /* update */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 1s all ease;
    margin-bottom: 50px;
}
#silvergraph:hover {
    transform: translateY(10px);
}

















.social-links{
    display: block;
}
.bajus-footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #202832;
    color: #fff; /* সাদা টেক্সট */
    padding: 40px 20px;
    border-radius: 5px;
    font-family: Hind Siliguri;
    text-align: center;
}

.footer-container {
    max-width: 1100px;
    margin: 0 auto;
}

#fname{
    font-size: 25px;
    font-weight: 800;
    color: var(--gold);
}
#fname1{
    font-size: 15px;
    font-weight: 200;
    color: #C3C5D5;
}
.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    width: 80px;
    height: auto;
    margin-top: -15px;
    border-radius: 50px;
}
.bajusfooter{
    margin-top: -20px;
    width: 100%;
    height: auto;
}

 .app-download-section{
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
 }

.association-names h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
}

.association-names p {
    font-size: 1rem;
    margin: 0;
    color: #f1c40f; /* বাংলায় নামটির জন্য হালকা সোনালী রঙ ব্যবহার করা হয়েছে */
}

/* ---------------------------------- */
/* সোশ্যাল লিংক স্টাইল          */
/* ---------------------------------- */
.social-links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.footerlogo{
    height: auto;
    width: 30px;
}
.social-links a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #f1c40f; /* হোভারে সোনালী রঙ */
}

.app-download-section {
    gap: 15px;
    margin: 30px 0;
    width: 150px;
}


#footerb{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.app-store-button, .google-play-button {
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
    border: 1px solid #fff;
}

.app-store-button i, .google-play-button i {
    font-size: 2rem;
    margin-right: 10px;
}


.button-text {
    text-align: center;
    line-height: 1.2;
    display: block;
    font-size: 0.7rem;
    opacity: 0.8;
    font-size: 1.1rem;
    font-weight: bold;
}

.app-store-button:hover, .google-play-button:hover {
    background-color: #333;
}

/* ---------------------------------- */
/* যোগাযোগের তথ্য স্টাইল        */
/* ---------------------------------- */
.contact-info p {
    margin: 5px 0;
    font-size: 0.95rem;
}

.contact-info .privacy-policy {
    color: #fff;
    text-decoration: none;
    font-size: 0.95rem;
    margin-top: 10px;
    display: inline-block;
    opacity: 0.8;
}

.contact-info .privacy-policy:hover {
    text-decoration: underline;
    opacity: 1;
}

/* ---------------------------------- */
/* কপিরাইট স্টাইল               */
/* ---------------------------------- */
.footer-divider {
    border: 0;
    height: 1px;
    background-color: #333; /* হালকা বিভাজক রেখা */
    margin: 30px auto;
    width: 80%;
}

.copyright {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* box rate */
.old_doc{
    height: auto;
    width: 98%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 100px;
    justify-content: center;
    display: flow-root;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    transition: .5s all ease;
}
.old_doc:hover {
    transform: scale(0.99);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0); /* update */
}
.old_doc_head{
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: white;
}
#old_doc_head_position{
    width: 100%;
    height: 40px;
    background: #21303a;
    border-radius: 1px;
}


#old_doc_body{
    margin-top: -25.5px;
    border: 1px solid black;
    background: white;
}
#doc_h{
    width: 100%;
}
.doc_content{
    text-align: center;
}
.old_doc_body1 {
    background: black;
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.old_doc_body2 {
    color: red;
    text-decoration: none;
}

.pdf_1{
    margin-top: 10px;
    width: 30px;
    height: auto;
}
.in_de{
    width: 30px;
    height: auto;
    padding: 10px 0px;
    border-radius: 50px;
}
.in_de_tdata{
    display: flex;
    justify-content: center;
}
#td_bg{
    background: rgba(243, 243, 243, 1);
}
.in_de_tdata_text{
    margin-top: 15px;
}
.vcounter{
    align-items: center;
    bottom: 50px;
}
