@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
html{
      scroll-behavior: smooth;
            /*fix*/
      overscroll-behavior-y: none !important;
}
body{
      overscroll-behavior: none;
      height: 100vh;
      overflow-x: hidden;
      align-items: center;
      min-height: 100vh;
      background-image: url('https://bajus-live.github.io/storage/photos/bg.jpg');
      background-size: 100px;
      background-position: center;
      background-repeat: repeat; 
      background-attachment: fixed;
      min-height: 100vh;
      margin-top: 50px;
      font-family: hind siliguri;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
           /* fix */
     overscroll-behavior-y: none !important;
     overscroll-behavior: none;
     overscroll-behavior-y: none;
     height: 100vh;
     overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.top-logo_M_area{
      width: 100%;
      background: rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(30px);
      align-items: center;
      height: auto;
      align-items: center;
      margin-top: -52px;
      position: fixed;
      z-index: 999;
      left: 0;
}
#top-logo_M_img{
  height: 50px;
  width: auto;
  margin-top: 5px;
  margin-left: 9px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 5);
}

.top-logo-test {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 99;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px 0;
}

#top-logo-test{
  height: 95px;
  width: auto;
  border-radius: 10px;
  animation: logo 1.2s ease-out;
}
@keyframes logo{
  0%{
    transform: translateY(-70px);
  }
  50%{
    transform: translateY(30px);
    opacity: 0;
  }
  75%{
    transform: translateY(-20px);
    opacity: 0.;
  }
  100%{
    transform: translateY(0);
  }
}
.top-logo-area{
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  margin: 15px 0;
  margin-top: -35px;
  animation: sub_logo 1s ease-in;
}
@keyframes sub_logo{
  0%{
    transform: translateX(-300px);
    opacity: 0;
  }
  
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.top-logo-text{
  font-size: 20px;
  font-family: hind siliguri;
  font-weight: 800;
  color: #B28A00;
}
/* Time */
.timer-container {
      width: fit-content;
      max-width: 95%;
      white-space: nowrap;
      background-color: white;
      padding: 10px 15px;
      border-radius: 10px;
      font-family: hind siliguri, sans-serif;
      color: #333;
      font-weight: bold;
      border-radius: 10px;
      border: .1px solid white;
      box-shadow: 0 0 15px rgba(0, 0, 0, .5), 0 0 5px;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: 0 8px 20px rgba(184, 134, 11, 0.12), 0 4px 8px rgba(184, 134, 11, 0.06);
    }
    
#bangla-date-time {
      color: #000000;
      font-size: 15px;
      font-family: Hind Siliguri, sans-serif;
      margin-left: auto;
      margin-right: auto;
    }
    
.reddot {
      background: red;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      position: relative;
      display: inline-block;
      margin: 0;
    }
    
.reddot::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: red;
      border-radius: 50%;
      animation: pulse_layers 2s infinite;
      opacity: 0;
    }
    
    
@keyframes pulse_layers {
      0% {
        transform: scale(1);
        opacity: 0.6;
      }
      100% {
        transform: scale(2.5);
        opacity: 0;
      }
    }

/* Last update */
.last_Up{
  text-align: center;
  justify-content: center;
}
.last_Up_text{
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
  animation: last_Up_t infinite 1s;
}
@keyframes last_Up_t{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* News */
.news{
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: auto;
  background: #F9F4F9;
  text-align: center;
  align-items: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
}
.news-tr{
  background: #A045E9;
  color: white;
}
.news-td{
  color: black;
}
.news-td-c{
  color: red;
  font-weight: bold;
}

/* gram banner */
.price-g{
  background: black;
  width: 100%;
  height: 390px;
  color: red;
  text-align: center;
  margin: auto;
  margin-bottom: 180px;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #F1E5E5;
  border-radius: 1px;
  font-weight: bold; 
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
  transition: .7s all ease;
  padding-bottom: 135px;
  animation: g_banner 0.9s ease-in;
}
@keyframes g_banner{
  from{
    transform: translateX(-250px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
  }
}
.price-g:hover{
  transform: scale(1.01);
}
.price-banner-g, .banner-g{
  width: 100%;
  height: auto;
}

/* Download Button*/

.download-btn1{
  height: 10px;
  width: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2e7d32;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-family: hind siliguri;
  gap: 4px;
  transition: 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  margin-top: 0px;
}

.download-btn1:hover {
  background-color: #1b5e20;
}

.download-btn1:active {
  background-color: #1EFF04;
}

.material-symbols-outlined {
  font-size: 24px;
}

.btn-text {
  font-weight: bold;
  font-size: 15px;
}


/* Vori banner */

.price-v{
  background: black;
  width: 100%;
  height: 560px;
  color: red;
  text-align: center;
  margin: auto;
  margin-bottom: 11px;
  align-items: center;
  margin-top: 11px;
  border: 1px solid #F1E5E5;
  border-radius: 1px;
  font-weight: bold; 
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
  transition: .7s all ease;
  padding-bottom: 35px;
  /*animation: vori-b 1s ease-in;*/
}
/* @keyframes vori-b{
  from{
   transform: translateX(250px); 
   opacity: 0;
  }
  to{
    transform: translateX(0); 
  }
}*/
.price-v:hover{
  transform: scale(1.01);
}
.price-banner-v, .banner-v{
  width: 100%;
  height: auto;
}

/* Download Button*/
.download-btn2{
  height: 10px;
  width: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2e7d32;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  font-family: hind siliguri;
  gap: 4px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .8);
  margin-top: 7px;
}
.pdf_i{
  height: 18px; 
  width: auto;
}

.download-btn2:hover {
  background-color: #1b5e20;
}

.download-btn2:active {
  background-color: #1EFF04;
}

.material-symbols-outlined {
  font-size: 24px;
}

.btn-text {
  font-weight: bold;
  font-size: 12.5px;
  display: flex;
  text-align: center;
  gap: 4px;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  padding: 0 10px;
  height: 29px;
  width: 50px;
  margin: auto;
}

.view-btn {
  width: 100px;
  height: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 233, 1);
  color: #333;
  padding: 10.5px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-family: Hind Siliguri;
  font-size: 12px;
  gap: 5px;
  border: .1px solid #ccc;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
  transition: all 0.4s ease;
  margin-top: 7px;
}
.view-btn:hover {
  background-color: rgba(10, 220, 202, 1);
}
.view-btn:active {
  background: #FFFFFF;
  transform: scale(0.98);
}
.download-btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2e7d32;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 10px;
  font-family: Hind Siliguri;
  gap: 4px;
  transition: background-color 0.4s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}





/* Gold Rate Banner */
.goldtable{
      width: 100%;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 1px;
      text-align: center;
      align-items: center;
      justify-content: center;
      border: 1px solid #D5A600;
}
#golddown{
    transition: .7s all ease;
    margin-bottom: 11px;
}
#golddown:hover{
    transform: scale(1.01);
}
#main_text_gold_banner{
  color: #D5A600;
  letter-spacing: 0.6px;
}
.product1{
      width: 28%;
      font-weight: 700;
      font-family: Hind Siliguri;
      color: #21303a;
      text-align: center;
}
.desc1{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price1{
      width: 28%;
      text-align: center;
      font-weight: 900;
      color: #16303a;
      text-align: center;
}
.goldtable th {
      background: #0d2930;
      color: var(--gold);
      padding: 18px 0px;
      font-size: 16px;
      text-align: center;
}
.goldtable td{
      padding: 25px 25px;
      background: #fdf1af;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 0.5px solid rgba(0, 0, 0, 0.1);
      border-right: 0.5px solid rgba(0, 0, 0, 0.1);
}
#goldbanner{
      height: auto;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
      justify-content: center;
}
#gb_img_position{
      padding: 0px;
      background: #0d2930;
}
#goldbanner1{
      width: 100%;
      height: auto;
      display: block;
}

/* silver banner */
.silvertable{
      width: 100%;
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 1px;
      margin-top: -27px;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-top: 0px auto #42445A;
      border: 1px solid var(--silver);
}
#silverbanner {
    height: auto;
    width: 100%;
    display: block;
}
#sb_img_position{
        padding: 0px;
        line-height: 0;
        background: transparent;
        border: none;
}
#main_text_silver_banner{
  color: white;
  letter-spacing: 0.6px;
}
#silverbanner1{
        width: 100%;
        height: auto;
}

#silverdown{
    transition: .7s all ease;
    margin-bottom: 0px;
}
#silverdown:hover{
    transform: scale(1.01);
}
.product2{
      width: 28%;
      font-weight: 700; 
      color: #21303a;
      text-align: center;
}
.desc2{
      width: 44%;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.6px;
}
.price2{
      width: 28%;
      text-align: center;
      font-weight: 800;
      color: #16303a;
      text-align: center;
}
.silvertable th {
      background: #0d2930;
      color: var(--silver);
      padding: 18px 0px;
      font-size: 15px;
      text-align: center;
      border-bottom: 1px solid var(--silver);
}
.silvertable td{
      padding: 25px 25px;
      background: #EFEFEF;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-left: 0.5px solid rgba(0, 0, 0, 0.1);
      border-right: 0.5px solid rgba(0, 0, 0, 0.1);
    }





/*Bottom Navbar */
.navbar{
      position: fixed!important;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 11.5px 0;
      background-color: rgba(0, 0, 0, 1);
      border: 0.1px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-bottom: 10px;
      box-shadow: 1px 2px 5px 5px rgba(255, 255, 255, .4);
      z-index: 1000000!important;
            /*fix*/
      transform: translateZ(0) !important;
      -webkit-transform: translateZ(0) !important;
      backface-visibility: hidden !important;
      -webkit-backface-visibility: hidden !important;
    }
    .nav-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #757575;
      font-size: 14px;
      cursor: pointer;
      background: rgba(255, 255, 255, .01);
    }
    .nav-item:hover{
      
    }
    .nav-item.active {
      color: #00FFF0;
    }
    .nav-item a{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease-in-out;
      background: rgba(255, 255, 255, .01);
      color: #FFFFFF;
      box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
      border-radius: 10px;
      border: .1px solid white;
      transition: all 0.3s ease-in-out;
      }
      .nav-item a:hover{
        transition: 0.3s all ease-in;
        transform: scale(1.04);
        border: .1px solid black;
        box-shadow: 0 0 15px #20BBFF, 0 0 5px rgba(0, 255, 255, .7);
      }
      .nav-item.active a{
        transition: 0.3s all ease-in;
        border: 1px solid black;
        box-shadow: 0 0 15px rgba(0, 255, 255, 1), 0 0 4px rgba(0, 255, 255, 1);
      }
      .nav1{
        padding: 10px 21px;
      }
      .nav2{
        padding: 10px 13.5px;
      }
      .nav3{
        padding: 10px 11px;
      }
      .nav4{
        padding: 10px 0px;
      }
     .nav5{
        padding: 10px 6.5px;
      }
    .nav-item i{
      font-size: 18px;
      margin-bottom: 0px;
      display: inline-block;
      padding: 0px 0px;
      color: #FFFFFF;
      transition: background-color 0.3s ease, color 0.3s ease;
      background: black;
      backdrop-filter: blur(50px);
    }
    .nav-item.active a i {
      background-color: black;
      color: #00FFF0;
      font-weight: bolder;
    }
    .nav-item.active span {
      color: #00FFF0;
      font-weight: bold;
    }
/* End */






/* Top Scrollable Text */
    .ticker-wrap{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 33px;
      background:#000;
      color:var(--gold);
      padding: 10px 10px;
      font-weight: 700;
      z-index: 100;
      box-shadow: 0 -6px 20px rgba(0,0,0,0.5);
    }
    .ticker{
      overflow: hidden;
      white-space: nowrap;
    }
    .ticker .text{
      display: inline-block;
      padding-left: 100%;
      height: 28px;
      animation: scroll 60s linear infinite;
      margin-top: 7px;
      font-size: 15px;
    }
    @keyframes scroll{
      from{transform: translateX(0)}
      to{transform: translateX(-100%)}
    }
    
.text{
  color: #B28A00; /*new*/
}
.copyright{
  text-align: center;
  display: flex;
  flex-flow: column-reverse;
  margin-top: -180px;
}
.copyright_link{
  text-decoration: none;
  color: black;
  margin-top: 30px;
  margin-bottom: 140px;
}
.visitor_c {
  position: absolute;
  font-size: 14px;
  margin-top: -120px;
  margin-bottom: 0px;
}


/* Will not download Any image */
img {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-touch-callout: none;
}
